@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@100;300;400;700&display=swap');
*{
  padding: 0;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center ;
}

button{
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 3px;
  box-sizing: content-box;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  margin-top: 10px;
}

div{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

img{
  padding: 0;
  display: flex;
  box-sizing: content-box;
  font-size: 20px;
  height: 150px;
  width: 150px;
  margin-top: 10px;
}

.helpUs{
  margin-top: 100px;
}